<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805610606949-ltmsoqio44tkn34pkfnf2h9rla4s4qvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805610606949-ltmsoqio44tkn34pkfnf2h9rla4s4qvh</string>
	<key>API_KEY</key>
	<string>AIzaSyAeoMs90_Avp1g-F7RxY2uzURfZmo-uJyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>805610606949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>curso-firebase-webapps-9781e</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-firebase-webapps-9781e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805610606949:ios:5ba2c75da8d943b6a6d18c</string>
	<key>DATABASE_URL</key>
	<string>https://curso-firebase-webapps-9781e.firebaseio.com</string>
</dict>
</plist>